* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background: #000000;
  /* overflow: hidden; */
}

nav {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

nav > img {
  /* height: 50px; */
  /* object-fit: cover; */
}

/* .marquee {
  color: whitesmoke;
}

.marquee > span > img {
  position: relative;
  top: 40px;
  width: 200px;
} */

footer {
  /* position: absolute;s */
  /* width: 100%; */
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 50px;
}

#container {
  /* width: 100%; */
  /* height: 100%; */
  display: grid;
  grid-template-columns: repeat(12, minmax(100px, 1fr));
  column-gap: 20px;
  row-gap: 30px;
  align-items: start;
  justify-items: stretch;
  justify-content: stretch;
  justify-content: stretch;

  max-width: 1920px;
  /* min-width: 1400px; */
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  color: whitesmoke;
  font-family: 'Satoshi', sans-serif;
  font-size: 20px;
  line-height: 30px;
}

div {
  /* border: 2px solid hotpink; */
}

img {
  object-fit: cover;
  display: block;
  width: 100%;
  /* height: 100%; */
}

.logo {
  grid-column: 1/7;
  grid-row: 1/2;
  /* background-image: url('./assets/logo.png'); */
  /* width: 100%; */
  margin-bottom: 100px;
}

.info-wrapper {
  grid-column: 2/4;
  grid-row: span 4;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-weight: 200;
}

.event-type {
  font-weight: 700;
  color: #f26922;
}

.candidate .project {
  font-weight: 200;
}

.iddv {
  grid-column: 8/9;
  grid-row: 2/3;
  font-size: 14px;
  letter-spacing: 7px;
}

.iddv-candidate {
  grid-column: 9/11;
  grid-row: 2/3;
}

.iddv-project {
  grid-column: 11/-1;
  grid-row: 2/3;
}

.xd {
  grid-column: 8/9;
  grid-row: 3/4;
  font-size: 14px;
  letter-spacing: 7px;
}

.xd-candidate {
  grid-column: 9/11;
  grid-row: 3/4;
}

.xd-project {
  grid-column: 11/-1;
  grid-row: 3/4;
}

.project > a:link,
a:visited,
a:active {
  color: whitesmoke;
  text-decoration: none;
  transition: 0.05s linear;
}

/* .project > a:visited {
  color: whitesmoke;
  text-decoration: none;
} */

.project > a:hover {
  font-weight: 700;
  color: #f26922;
  transition: 0.05s linear;
}

.image-wrapper {
  position: fixed;
  /* top: 50%;
  left: 50%; */
  top: 1em;
  right: 2em;
  /* transform: translate(-50%, -50%); */
  width: 600px;
  height: 400px;
  pointer-events: none;
  opacity: 0;
}

.image-wrapper > img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 450px) {
  #container {
    /* width: 100%; */
    /* height: 100%; */
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    column-gap: 10px;
    row-gap: 20px;
    /* align-items: start;
    justify-items: stretch;
    justify-content: stretch;
    justify-content: stretch; */

    max-width: 320px;
    /* min-width: 1400px; */
    /* margin-left: auto;
    margin-right: auto; */
    padding-left: 1rem;
    padding-right: 1rem;
    color: whitesmoke;
    font-size: 14px;
    line-height: 20px;
  }

  .logo {
    grid-column: 1/3;
    grid-row: 1/2;
    /* background-image: url('./assets/logo.png'); */
    /* width: 100%; */
    margin-bottom: 30px;
  }

  .info-wrapper {
    grid-column: 1/3;
    grid-row: 2/3;
    flex-direction: row;
    gap: 20px;
  }
  .reception {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .exhibition {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .location {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .iddv-project {
    grid-column: 1/4;
    grid-row: 3/4;
  }

  .xd-project {
    grid-column: 1/4;
    grid-row: 4/5;
  }

  .program {
    display: none;
  }
  .candidate {
    display: none;
  }
}
